.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.KeyListener {
  text-align: center;
}

.header {
  background-color: #282c34;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.logo {
  width: 150px;
  margin-left: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  height: 2rem;
}

.instrument-label {
  min-width: 150px;
  font-family: 'PT Sans', "Roboto", "Helvetica", "Arial", sans-serif;
}

.MIDISounds {
  display: none;
}

.beat-button {
  border: none;
  margin: 2px;
  cursor: pointer;
}

.play-controls {
  margin: 20px 0;
}

.play-controls button {
  margin: 0 5px;
}

.background-image {
  background-image: url('./background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;

}